body {
background: #4E25FF;
font-family: Oswald;
}
input[type=text]{
    text-align: center;
    width:30%;
}

.loremlist{
    text-transform: uppercase;
    color: rgb(179, 95, 40);
}

textarea {
    font-family: Oswald;
    width: 80%;
    height: 300px;
    background-color: #A0FFAC;
    color: #102E25;
    display: inline-block;
    border-radius: 10px;
}

input[type=submit] {
    font-family: Oswald;
    background-color: #FFD132;
    color: #E82F22;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

input[type=submit]:hover, input[type=submit]:active {
font-family: Oswald;
    border-radius: 10px;
    background-color: #22E835;
    color: blue;
}

a:link, a:visited {
     background-color: #FFD132;
        color: #4E25FF;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}

a.hlinks {
background: #FFD132;
color:#4E25FF;}

a:hover, a:active {
    border-radius: 10px;
     background-color: #22E835;
        color: #4E25FF;
    
}


.display {
    position: relative;
    text-align: center;
        background: #4490FF;
        display: inline-block;
        width:40%;
        padding: 20px;
        margin: 5% 30%;
        border: 5px solid #FFD132;
        box-sizing: border-box;
        COLOR: white;
        border-radius: 30px;
}


nav {
border: 5x solid #FFD132;
box-sizing: border-box;
}
.aright {
float:left;
}
.aleft{
float:right;
}

.dateinput{
width:8%;
}

.yearinput{
width:10%;
}