<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Planner 95</title>
    <link th:href="@{../style.css}" href="../static/style.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>

<center><h1><a href="/" class="hlinks">TASK APP 95</a></h1></center><br>

<nav><center><a href="/addtaskform">Add task</a>
    <a href="/showtasktodo">Tasks to do</a>
    <a href="/showtaskinprogress">Tasks in progress</a>
    <a href="/showtaskdone">Finished tasks</a>
    <a href="/showall">Task database</a>
</center></nav><div class="display"><p>Choose your task wisely.</p></div>
</body>
</html>